<div class="puppy">
  {{>returnHome}}
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Author: {{author}}</div>
  <div>
    <p>Ingredients: </p>
    <ul>
      {{#each ingredients}}
        <li>{{ingredient}} -- {{amount}}</li>
      {{/each}}
    </ul>
  </div>
  <div>
    <p>Instructions:</p>
    <ol id="instructions">
    {{#each instructions}}
        <li>{{this}}</li>
      {{/each}}
    </ol>
  </div>
  <a href='/edit-recipe/{{id}}' class="link">Edit</a>
</div>
