<form class="form" action="/puppies/{{id}}/edit" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
  <label for="author" class="form-item">
    Author:
    <input type="text" name="author" value="{{author}}">
  </label>
  
  <fieldset>
    <div id="ingredient-amount">
    <div id="ingredients">
      <label for="ingredient" class="form-item">
        Ingredient(s):
        <div id="ingredient-input">
          {{#each ingredients}}
            <input type="text" name="ingredient[]" value="{{this.ingredient}}" required>
          {{/each}}
        </div>
      </label>
    </div>

    <div id="amount">
      <label for="amount" class="form-item"> 
        Amount:
        <div id=amount-input>
          {{#each ingredients}}
            <input type="text" name="amount[]" value="{{this.amount}}">
          {{/each}}
        </div>
      </label>
    </div>
  </div>
  </fieldset>
  

  <label for="instructions" class="form-item">
    Instructions:
    <input type="text" name="instructions" value="{{instructions}}">
  </label>

  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>
